/*https://coolors.co/b80c09-40434e-c33149-000000-040f0f*/

body {
    font-family: 'Exo 2', sans-serif;
    height: 100vh;
    background-color: #040F0F;
    overflow: hidden;
    color: #ffffff;
}

a {
    text-decoration: none !important;
    color: #ffffff;
    width: 50px !important;
    height: 50px !important;
}

a:hover {
    color: #C33149;
}

.link {
    height: 50px !important;
    width: 75px;
}

.link:hover {
    background-color: #ffffff;
    color: #C33149;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    font-style: italic;
    font-size: 1em;
}

.main-intro {
    margin: 0px 30px 15px 0px;
}

.main-intro h2 {
    padding-left: 15px;
}

img.main-logo {
    height: 275px;
    margin: 30px 30px 15px 15px;
}

img.fortheculture {
    width: 50px;
}

img.minilogo {
    width: 50px;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 5px;
}


/* Sticky footer styles
-------------------------------------------------- */

.footer {
    margin: 0;
    padding: 0;
    left: 0;
    font-size: 12px;
    position: absolute;
    width: 100vw;
    bottom: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #C33149;
}

.custom-footer {
    color: #ffffff !important;
    opacity: 0.4;
}

.footer span {
    padding-bottom: 10px;
}